{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>        
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>        
        <nav>
            <ul class="desktop-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'illustrations' %}">Illustrations</a></li>
                <li><a href="{% url 'icons' %}">Icons</a></li>                  
            </ul>
            <div class="navigation-buttons">                    
                <a href="{% url 'contact' %}" class="contact-button">              
                    <img src="{% static 'envelope.svg' %}">
                    <p>Contact</p>                             
                </a>  
                <a href="{% url 'cart' %}" class="cart">
                    <img src="{% static 'trolley.svg' %}">
                    <p>Cart</p>
                    <span>0</span>
                </a>
                <div class="menu-buttons">
                    <button id="closed" onclick="openMobileMenu()">
                        <img src="{% static 'closed.svg' %}">        
                    </button>
                    <button id="opened" onclick="closeMobileMenu()">
                        <img src="{% static 'opened.svg' %}">                
                    </button>
                </div>
            </div>   
        </nav>
        <ul id="mobileMenu" class="mobile-menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>                     
            <li><a href="{% url 'illustration_packages' %}">Illustration packages</a></li>                  
            <li><a href="{% url 'individual_illustrations' %}">Individual illustrations</a></li>
            <li><a href="{% url 'icon_sets' %}">Icon sets</a></li>
            <li><a href="{% url 'individual_icons' %}">Individual icons</a></li>                                                                 
        </ul>
        <header>        
            <div class="header-column-one">
                <img src="assets/images/illustration.svg">
            </div>
            <a href="index.html" class="header-column-two">
                <h1>VECTOR<br>ILLUSTRATIONS</h1>
                <hr>                    
                <p>We sell vector illustrations and icons as svg or png downloadable files</p>                     
            </a>
            <div class="header-column-three">
                <img src="assets/images/illustration.svg">
            </div>      
        </header>     
        <main>  
        {% block content %}
        {% endblock %}
        </main> 
        <footer>
            <div class="footer-content">
                <form class="contact-form">
                <h2>Contact us</h2>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name">
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea id="message"></textarea>
                </div>
                <button type="submit">Send message</button>
            </form>
                <div class="footer-grid">            
                        <ul>                
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'About' %}">About</a></li>
                            <li><a href="{% url 'Contact' %}">Contact</a></li>
                        </ul>          
                        <ul>
                            <li><a href="{% url 'cart' %}">Cart</a></li>
                            <li><a href="{% url 'privacy' %}">Privacy</a></li>                           
                            <li><a href="{% url 'conditions' %}">Terms & conditions</a></li>
                        </ul>           
                        <ul>
                            <li><h3>ILLUSTRATIONS</h3></li>                                             
                            <li><a href="{% url 'illustration_packages' %}">Illustration packages</a></li>
                            <li><a href="{% url 'individual_illustrations' %}">Individual illustrations</a></li>
                        </ul>            
                        <ul>           
                        <li><h3>ICONS</h3></li>                                            
                        <li><a href="{% url 'icon_sets' %}">Icon sets</a></li>
                        <li><a href="{% url 'individual_icons' %}">Individual icons</a></li>           
                    </ul>        
                </div>           
                <p class="copyright">Copyright &copy; 2026</p>
            </div>       
        </footer>			
        <script src="{% static 'script.js' %}"></script>   
    </body>
</html>