{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>        
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>  
        <header>
            <nav>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
            <h1></h1>
        </header>
        <main>  
        {% block content %}
        {% endblock %}
        </main> 
        <footer>
            <a></a>
            <a></a>
        </footer>
        <script src="{% static 'script.js' %}"></script>   
    </body>
</html>