{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>        
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>        
        <nav>
            <ul class="desktop-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Illustrations</a></li>
                <li><a href="#">Icons</a></li>                  
            </ul>
            <div class="navigation-buttons">                    
                <a href="contact.html" class="contact-button">              
                    <img src="{% static 'envelope.svg' %}">
                    <p>Contact</p>                             
                </a>  
                <a href="cart.html" class="cart">
                    <img src="{% static 'trolley.svg' %}">
                    <p>Cart</p>
                    <span>0</span>
                </a>
                <div class="menu-buttons">
                    <button id="closed" onclick="openMobileMenu()">
                        <img src="{% static 'closed.svg' %}">        
                    </button>
                    <button id="opened" onclick="closeMobileMenu()">
                        <img src="{% static 'opened.svg' %}">                
                    </button>
                </div>
            </div>   
        </nav>
        <ul id="mobileMenu" class="mobile-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>                     
            <li><a href="illustration_packages.html">Illustration packages</a></li>                  
            <li><a href="individual_illustrations.html">Individual illustrations</a></li>
            <li><a href="icon_sets.html">Icon sets</a></li>
            <li><a href="individual_icons.html">Individual icons</a></li>                                                                 
        </ul>
        <header></header>      
        <main>  
        {% block content %}
        {% endblock %}
        </main> 
        <footer>
            <div class="footer-content">
                <form class="contact-form">
                <h2>Contact us</h2>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name">
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea id="message"></textarea>
                </div>
                <button type="submit">Send message</button>
            </form>
                <div class="footer-grid">            
                        <ul>                
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="about.html#questions">FAQ</a></li>
                        </ul>          
                        <ul>
                            <li><a href="products.html">Products</a></li>            
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="legal.html">Terms & conditions</a></li>
                        </ul>           
                        <ul>
                            <li><h3>ILLUSTRATIONS</h3></li>                                           
                            <li><a href="illustrations.html">All our illustrations</a></li>                             
                            <li><a href="packages.html">Illustration packages</a></li>
                            <li><a href="individual_illustrations.html">Individual illustrations</a></li>
                        </ul>            
                        <ul>           
                        <li><h3>ICONS</h3></li>              
                        <li><a href="icons.html">Icons</a></li>                           
                        <li><a href="lined_icons.html">Lined icons</a></li>
                        <li><a href="fill_colour_icons.html">Filled icons</a></li>           
                    </ul>        
                </div>           
                <p class="copyright">Copyright &copy; 2026</p>
            </div>       
        </footer>			
        <script src="{% static 'script.js' %}"></script>   
    </body>
</html>